<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationBasic</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/material-design-lite/material.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        
        <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    @*<script src="~/lib/material-design-lite/material.js" type="text/javascript"></script>*@
    <mdl-script></mdl-script>

    <style>
        .mdl-tabs__panel  {
            padding: 30px;
        }
    </style>
</head>
<body>

    <mdl-layout>
        <mdl-layout-header title="TESTING" spacer="true" scrollable="false">
            <mdl-layout-link href="#">TESTING</mdl-layout-link>
        </mdl-layout-header>
        <mdl-layout-drawer title="DRAWER_TEST">
            <mdl-layout-link href="TEST">TEST</mdl-layout-link>
        </mdl-layout-drawer>
        <mdl-layout-content>
            @RenderBody()
        </mdl-layout-content>
    </mdl-layout>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
